.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.card__rating {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur( 8px );
    padding: 8px;
    color: var(--rating-color-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: var(--border-radius-8);
}

.card__rating img {
    width: 16px;
    height: 16px;
}

.card__picture {
    display: block;
    min-width: 266px;
    min-height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-12);
    margin-bottom: 16px;
}

.card__content {
    padding: 8px;
    margin-bottom: 8px;
}

.card__content-title {
    color: var(--text-color-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.card__content-button {
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.card__content-button:hover span {
    color: var(--text-color-primary);
}

.card__content-button img {
    width: 24px;
    height: 24px;
}

.card__content-button_inactive {
    color: var(--favorite-color-primary);
}

.card__content-button_active {
    color: var(--favorite-color-secondary);
}